<div class="signup">
	<h3>Do a thing with {{title}}.</h3>
	<label>amount:</label><input type="text" name="amount" class="input-amount" value="{{amount}}" />
	<button class="button-action js-signup" type="submit">Sign up and Pledge</button>
</div>
