<div class="banner">
	<h1>{{title}}</h1>
	<p>I{{description}}</p>
	<ul class="filmstrip">
		<li><img src="http://placeimg.com/200/200/any" alt="" /></li>
		<li><img src="http://placeimg.com/200/200/any" alt="" /></li>
		<li><img src="http://placeimg.com/200/200/any" alt="" /></li>
		<li><img src="http://placeimg.com/200/200/any" alt="" /></li>
	</ul>
	<div class="tag"><a href="{{link}}" class="button button-cta">{{callToAction}}</a></div>
</div>
