<div class="donate-widget-view-container">
	<div class="input-group money">
		<div class="pre currency">$</div>
		<input type="number" name="donationAmount" class="js-donate-field donate-field required number" data-rule-min="1" data-rule-max="{{max}}" value="{{defaultAmount}}" />
		<div class="post button"><a href="javascript:void(0)" class="js-donate-button button-action">Donate Now</a></div>
	</div>
	<label class="error left" for="donationAmount"></label>
</div>